{{template "base" .}}

{{define "content"}}

  <section class="row">
    <div class="col">
      <h1 class="display-1 text-center">This is the about page</h1>
      <figure class="text-center">
        <blockquote class="blockquote"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</blockquote>
      </figure>
    </div>

    <p>This came from the template: {{index .StringMap "test"}} <p>

    <p>
      {{if ne (index .StringMap "remote_ip") ""}}
        Your IP is: {{index .StringMap "remote_ip"}}
      {{else}}
        I don't know your IP yet. Go to the <a href="/">home page</a> to find out.
      {{end}}
    </p>
  </section>

{{end}}